.tags-container {
    max-height: 250px;
    margin: 20px 10px;
    overflow: auto;
}
.config-tag {
    position: relative;

    .tag-close{
        position: absolute;
        right: -10px;
        top: -10px;
        background-color: var(--c-transitive2);

        .icon-close{ width: 15px };
    }

}